<div class="tab-content f-g1 d-f">
      <div class="panel-content d-flex f-g1 d-flex-column full-width">
        <div class="f-g2">
          <!----><div class="d-flex" ng-if="lotDetails.lotId">
            <!--Lot Number-->
            <label for="LotNumber" data-uname="lotdetailLotNumber" class="bold">
              Lot Number:
            </label>
            <span id="LotNumber" class="lot-details-desc d-f bold" data-uname="lotdetailVinvalue">
              41447724

              <span class="ml-5">
                <!---->
                <!---->
              </span>
            </span>
          </div><!---->

          <!----><div ng-if="lotDetails.fv">
            <!----><div ng-if="!ukVinNumber">
              <!--VIN Number-->
              <div class="pt-8 d-flex border-top-gray">
                  <label for="VIN:" data-uname="lotdetailVin" class="bold">
                    VIN:
                  </label>
                  <div masking="" number="JM1BN1U74H1******" lot-number="41447724" field="fv"><!---->

<!----><span ng-if="unmaskingDisabled">
    <span class="lot-details-desc">
       JM1BN1U74H1******
    </span>
</span><!----></div>
              </div>
            </div><!---->
          </div><!---->

          <div></div>

          <!----><div class="pt-8 d-flex border-top-gray" ng-if="lotDetails.ts || lotDetails.td">
            <!--Doc Type-->
            <label for="SaleTitleDescription" data-uname="lotdetailTitledescription" class="bold">
              Title Code:
            </label>
            <span class="lot-details-desc w100" data-uname="lotdetailTitledescriptionvalue">
              <!----><span class="bold d-flex j-c_s-b" ng-if="lotDetails.ts | trim">
                <span>
                  IL - CERTIFICATE OF TITLE
                  <!---->
                </span>
                <a data-uname="lotdetailDoctypetooltip" class="right" href="javascript:void(0)" data-placement=" auto right" data-toggle="popover" data-content="CERTIFICATE OF TITLE TO A VEHICLE without brands. This is commonly referred to as a Clean or Clear Title. / Title Group: Clean" aria-label="Lot Detail Doc Type Tooltip" tooltip="" data-original-title="" title="">
                  <i class="lotdetails-icons-redesign exclaimer-rd-icon"></i>
                </a>
              </span><!---->
            </span>
          </div><!---->

          
          <!----><div ng-if="lotDetails.orr !== undefined || !hideEmptyFields">
            <div class="pt-8 d-flex border-top-gray">
              <!--Odometer-->
              <label for="Odometer:" data-uname="lotdetailOdometer" class="bold">
                Odometer:
              </label>
              <span class="lot-details-desc odometer-value w100" data-uname="lotdetailOdometervalue">
                <!----><span ng-if="(lotDetails.ord | trim)!=''" class="bold d-flex j-c_s-b">
                  <span>
                    95,423 mi&nbsp;(ACTUAL)
                  </span>
                  <a data-uname="lotdetailOdometertooltip" data-toggle="popover" popoverid="odometer-content" class="popover-span right" aria-label="Lot Detail Odometer Tooltip" tooltip="" data-original-title="" title="">
                    <i class="lotdetails-icons-redesign exclaimer-rd-icon"></i>
                  </a>
                </span><!---->
                <!---->
              </span>
            </div>
          </div><!---->

          <div></div>

          <div>
            <!-- Present only for GStack region sites -->
          </div>

          <!---->

          
            <!----><div ng-if="(!showCopartSelectCode &amp;&amp; (lotDetails.dd | trim)!='') || !hideEmptyFields" class="pt-8 d-flex border-top-gray">
              <!--Primary Damage-->
              <label data-uname="lotdetailPrimarydamage" class="bold">
                Primary Damage:
              </label>
              <span class="lot-details-desc" data-uname="lotdetailPrimarydamagevalue">
                NORMAL WEAR
              </span>
            </div><!---->
          

          
            <!---->
          
          

          <!--Estimated Retail Value-->
          <!----><div ng-if="lotDetails.la || !hideEmptyFields">
            <div class="pt-8 d-flex border-top-gray">
              <!--Estimated Retail Value-->
              <label data-uname="lotdetailEstimatedretailval" class="bold">
                Estimated Retail Value:
              </label>
              <!----><span class="lot-details-desc" data-uname="lotdetailEstimatedretailvalue" ng-if="lotDetails.la">
                $8,977.00 USD
              </span><!---->
            </div>
          </div><!---->

          <!----><div ng-if="(lotDetails.cy | trim)!='' &amp;&amp; hideEmptyFields">
            <div class="pt-8 d-flex border-top-gray">
              <!--Cylinders-->
              <label data-uname="lotdetailCyllinder" class="bold">
                Cylinders:
              </label>
              <span class="lot-details-desc" data-uname="lotdetailCylindervalue">
                4
              </span>
            </div>
          </div><!---->

          <!---->

          <div>
            <!---->
          </div>

          <div>
            <!-- Present only for GStack region sites -->
          </div>

          <div></div>

          <div></div>

          <!---->

          <!----><div ng-if="(lotDetails.clr | trim)!='' || !hideEmptyFields">
            <div class="pt-8 d-flex border-top-gray">
              <label data-uname="lotdetailColor">
                Color:
              </label>
              <span class="lot-details-desc" data-uname="lotdetailColorvalue">
                BLUE
              </span>
            </div>
          </div><!---->

          <!---->

          <!----><div ng-if="(lotDetails.egn | trim)!=''">
            <div class="pt-8 d-flex border-top-gray">
              <!--Engine Type-->
              <label data-uname="lotdetailEngine" class="bold">
                Engine Type:
              </label>
              <span class="lot-details-desc" data-uname="lotdetailEnginetype">
                2.0L  4
              </span>
            </div>
          </div><!---->

          <!---->

          <div>
            <!----><div ng-if="lotDetails.tmtp || lotDetails.htsmn=='Y'" class="d-flex pt-5 border-top-gray">
                <label data-uname="">
                    Transmission:
                </label>
                <span class="lot-details-desc" data-uname="">
                    AUTOMATIC
                </span>
            </div><!---->
            <!---->
        </div>

          <!----><div ng-if="(lotDetails.drv | trim)!='' || !hideEmptyFields">
            <div class="pt-8 d-flex border-top-gray">
              <!--Drive-->
              <label data-uname="lotdetailDrive" class="bold">
                Drive:
              </label>
              <span class="lot-details-desc" data-uname="DriverValue">
                Front-wheel Drive
              </span>
            </div>
          </div><!---->

          <!----><div ng-if="vehicleTypeDesc &amp;&amp; lotDetails.vehTypDesc" lot-data-if="AUTOMOBILE">
            <div class="pt-8 d-flex border-top-gray">
              <label data-uname="lotdetailvehicletype">
                Vehicle Type:
              </label>
              <span class="lot-details-desc" data-uname="lotdetailvehicletype">
                AUTOMOBILE
              </span>
            </div>
          </div><!---->

          <div>
            <!-- Engine Power Present only for GStack region sites -->
          </div>

          <div>
            <!-- CO2 Emission Present only for GStack region sites -->
          </div>

          <div>
            <!-- Engine Displacement Present only for GStack region sites -->
          </div>

          <!---->

          <!----><div ng-if="(lotDetails.ft | trim)!='' || !hideEmptyFields">
            <div class="pt-8 d-flex border-top-gray">
              <label data-uname="lotdetailFuel" class="bold">
                Fuel:
              </label>
              <span class="lot-details-desc" data-uname="lotdetailFuelvalue">
                GAS
              </span>
            </div>
          </div><!---->

          <!----><div ng-if="(lotDetails.hk | trim)!='' || !hideEmptyFields">
            <div class="pt-8 d-flex border-top-gray">
              <!--Keys-->
              <label for="Keys:" data-uname="lotdetailKey" class="bold">
                Keys:
              </label>
              <span class="lot-details-desc" data-uname="lotdetailKeyvalue">
                YES
              </span>
            </div>
          </div><!---->

          <div>
            <!-- Present only for UK region sites -->
          </div>

          <!---->
          <!---->

          <div><!--Interior Type--></div>

          <div><!--Navigation--></div>

          <div><!--Navigation Disk--></div>

          <div><!--Owners Manual--></div>

          <div>
            <!-- Document Present only for GStack region sites -->
          </div>

          <div>
            <!-- Gross Weight Present only for GStack region sites -->
          </div>

          <div>
            <!-- Additional Info Present only for GStack region sites -->
          </div>

          <div>
            <!-- Download PDF Present only for GStack region sites -->
          </div>

          <div>
            <!-- Buildsheet Present only for GStack region sites -->
          </div>

          

          <div></div>

          <!---->

          <!---->

          <!----><div ng-if="iconCodesObjArray &amp;&amp; iconCodesObjArray.length &amp;&amp; !showCopartSelectCode">
            <div class="pt-8 d-flex border-top-gray d-flex">
              <!--Highlights-->
              <label for="Highlights:" class="lot-veh-icon bold" data-uname="lotdetailHighlights">
                Highlights:
              </label>
              <div class="w100">
                <!----><span class="lot-details-desc highlights-popover-cntnt text-CERT-E d-flex j-c_s-b" fragment-id="CERT-E" ng-repeat="iconObj in iconCodesObjArray">
                  <span>
                    <!---->
                    Enhanced Vehicles</span>
                  <!----><a ng-if="iconObj.iconCode &amp;&amp; iconObj.iconCode.indexOf('CERT-D') == -1" class="icon-tooltip" data-trigger="focus" data-toggle="popover" fragment-id="CERT-E" data-placement="auto right" data-html="true" data-uname="lotdetailHighlightstooltip">
                    <i class="lotdetails-icons-redesign exclaimer-rd-icon"></i>
                  </a><!---->
                </span><!---->
              </div>
            </div>
          </div><!---->
          <div>
            <!---->
          </div>

          <div>
            <!----><div class="pt-8 d-flex border-top-gray" ng-if="lotDetails.showSeller &amp;&amp; (showSellerCompanyName || showSellerCompanyLogo)">
              <label data-uname="lotdetailSeller">
                Seller:</label>
              <!----><div class="d-flex w100" ng-if="showSellerCompanyName">
                <div class="lot-details-desc d-flex j-c_s-b" data-uname="lotdetailSellervalue">
                  <span>State Farm Insurance</span>
                  <!---->
                </div>
                <!---->
              </div><!---->
              <!---->
            </div><!---->
          </div>

          <div>
            <!----><div ng-if="!showCopartSelectCode" class="pt-8 d-flex border-top-gray d-f flex-wrap" ng-class="(lotDetails.sn || lotDetails.ltnte) ? '':''">
              <label for="Notes:" data-uname="lotdetailNotes" class="bold">
                Notes:
              </label>
              <div ng-switch="" on="!!lotDetails.sn || !!lotDetails.ltnte">
                <!---->
                <!----><div ng-switch-default="">
                  <div class="lot-details-desc clr lot-detail-notes-empty f-g1" data-uname="lotdetailNotesvalue">
                    There are no Notes for this Lot
                  </div>
                </div><!---->
              </div>
            </div><!---->
          </div>
          <!---->
        </div>

        <!---->
        <!---->
      </div>
    </div>