<div class="sales-history">
         
                    <a href="#" class="link-history active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Sales History (0)<span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                    
                    <a href="#" data-type="" data-lot-attr="1-76854333" data-link-lang="https://bid.cars/en/lot/" class="link-history archived-section"><i class="fa fa-history" aria-hidden="true"></i> Archival offers of this model<span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                    
                    <div class="psa-tabs-content">
                    
                    <table class="tabs-content table sales-history-table">
                      <thead>
                        <tr>
                          <th scope="col">Auction</th>
                          <th scope="col">Date</th>
                          <th scope="col">Lot #</th>
                          <th scope="col">Final bid</th>
                          <th scope="col">Odometer</th>
                          <th scope="col">Status</th>
                          <th scope="col">Seller</th>
                        </tr>
                      </thead>
                      <tbody>
                                                <style>
                        .row-sales-history:hover {
                          background-color: #FFFFFF !important
                        }
                        </style>
                        <tr class="row-sales-history"><td colspan="7"><p class="info">Sorry, we don't have any sales history about this lot.</p></td></tr>
                         
                      </tbody>
                    </table>
                        
                    

                        
                    <div class="tabs-content archived-offers-section hidden">

                        <div class="psa-row" style="">

                        </div>
                        
                        <div class="loader" style="display: none; margin: 0px auto;">
                          <div class="lds-facebook"><div></div><div></div><div></div></div>
                        </div>
                        
                        <a href="https://bid.cars/en/search/archived/results?search-type=filters&amp;type=Automobile&amp;make=KIA&amp;model=Sportage" class="show-more-auctions" rel="nofollow">Show all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        
                    </div>
                    
                    </div>
                </div>