<div class="sales-history">
         
                    <a href="#" class="link-history active"><i class="fa fa-bar-chart" aria-hidden="true"></i> Sales History (2)<span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                    
                    <a href="#" data-type="/archived" data-lot-attr="1-43590073" data-link-lang="https://bid.cars/en/lot/" class="link-history archived-section"><i class="fa fa-history" aria-hidden="true"></i> Archival offers of this model<span class="icon"><i class="fa fa-angle-down" aria-hidden="true"></i></span></a>
                    
                    <div class="psa-tabs-content">
                    
                    <table class="tabs-content table sales-history-table">
                      <thead>
                        <tr>
                          <th scope="col">Auction</th>
                          <th scope="col">Date</th>
                          <th scope="col">Lot #</th>
                          <th scope="col">Final bid </th>
                          <th scope="col">Odometer</th>
                          <th scope="col">Status</th>
                          <th scope="col">Seller</th>
                        </tr>
                      </thead>
                      <tbody>
                                                                        <tr onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='https://bid.cars/en/lot/1-43590073'" style="cursor: pointer">
                          <th scope="row"><span class="seo-label copart">Copart</span></th>
                          <td>2024-03-09</td>
                          <td><a href="https://bid.cars/en/lot/1-43590073" rel="nofollow">1-43590073</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"></path>
                              <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"></path>
                            </svg>
                          </td>
                            <td><span class="status price">---</span>  </td>
                          <td>81 735 mi</td>
                          <td><span class="status not-sold">Not sold</span></td>
                          <td>State Farm Insurance</td>
                        </tr>
                                                <tr onclick="if (!window.__cfRLUnblockHandlers) return false; location.href='https://bid.cars/en/lot/1-43590073'" style="cursor: pointer">
                          <th scope="row"><span class="seo-label copart">Copart</span></th>
                          <td>2024-03-20</td>
                          <td><a href="https://bid.cars/en/lot/1-43590073" rel="nofollow">1-43590073</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                              <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"></path>
                              <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"></path>
                            </svg>
                          </td>
                            <td><span class="status price">---</span>  </td>
                          <td>81 735 mi</td>
                          <td><span class="status sold">Sold</span></td>
                          <td>State Farm Insurance</td>
                        </tr>
                                                                      </tbody>
                    </table>
                    
                    <div class="tabs-content archived-offers-section hidden">

                        <div class="psa-row" style="">

                        </div>
                        
                        <div class="loader" style="display: none; margin: 0px auto;">
                          <div class="lds-facebook"><div></div><div></div><div></div></div>
                        </div>
                        
                        <a href="https://bid.cars/en/search/archived/results?search-type=filters&amp;type=Automobile&amp;make=Jeep&amp;model=Grand Cherokee" class="show-more-auctions" rel="nofollow">Show all <i class="fa fa-angle-right" aria-hidden="true"></i></a>                        
                    </div>
                    
                    </div>
                </div>